@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

.inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
}

body {
    min-width: 320px;
}

header .logo {
    width: 35%;
    background-size: contain;
}

header .global {
    width: 40%;
    display: none;
}

header .global span:last-child {
    display: none;
}

header .mMenuBt {
    display: block;
    font-size: 2rem;
    margin: 0 20px 0 0;
}

/* scroll에 의해 header.color로 변경 */
header.color .mMenuBt {
    color: #666;
    transition: color 0.3s;
}

a{
    text-decoration: none;
}

nav {
    position: fixed;
    width: 90%;
    height: 100vh;
    top: 0;
    right: 0;
    background: white;
    overflow: hidden;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
    z-index: 1000;
}

nav.open {
    transform: translateX(0%);
}

/* 모바일에서는 nav가 안보이다가, 메뉴 아이콘을 클릭하면 nav가 나타남 */
nav ul.gnb {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 70px 50px 50px;
    width: 100%;
    position: relative;
}

nav ul.gnb .mCloseBt {
    display: block;
    position: absolute;
    top: 20px;
    right: 23px;
}

nav ul.gnb .mCloseBt i {
    display: block;
    font-size: 2rem;
}

nav ul.gnb li.gnbMenu {
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

nav ul.gnb li.gnbMenu .title {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

/* 모바일용 서브메뉴 보이기 */
nav ul.gnb ul.mSnb {
    display: block;
    width: 100%;
}

nav ul.gnb ul.mSnb li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 1.14rem;
    margin: 1px 0 0 0;
    display: block;
    background: rgba(255, 255, 255, 0.5);
}


/* PC용 서브메뉴 감추기 */
nav .snb {
    display: none;
}


/* scroll 버튼 */
.scroll {
    right: 50%;
    top: unset;
    bottom: 0;
    transform: translateX(50%);
}

nav ul.gnb li.gnbMenu .title {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: rgb(87, 86, 86);
    font-weight: 100;
    font-size: 1.3rem;
}

nav a,
nav a:visited {
    text-decoration: none;
    font-weight: 200;
    color: #202020;
    font-family: sans-serif;
    color: rgb(87, 86, 86);
    font-family: 'noto sans kr';
}


/* nav 끝 */


header {
    height: 70px;
}

/* 각 섹션 타이틀 */
/* ex) 한옥마을소개 */
div.txt span:nth-child(1) {
    padding-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
}

div.txt span {
    position: relative;
    font-size: 1rem;
    text-align: center;
}

/* 타이틀 아래 라인 넣을지 말지 고민 중 */
/* div.txt span:nth-child(2)::after {
    position: absolute;
    width: 1px;
    height: 20px;
    background: #000;
    top: 0;
} */
/* 라인 뺌 */




section.section2 .txt {
    /* width: 320px; */
    align-items: center;
    text-align: center;
    margin-top: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 3rem;
}

/* section */

section {
    height: 100vh;
}

section.section2 {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid #333;
}

.header {
    background: url(../img/header_bg.png)50% 50% no-repeat;
    background-size: cover;
    height: 100vh;
}

section.section2 .tabV {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-direction: column;
}

.swiper-container .swiper-wrapper.village {
    display: inline-flex;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
}
section.section2 .inner {
    display: flex;
    flex-direction: column;
}

section.section2 .tabV ul {
    text-align: center;
    flex-direction: row;
    margin: 1.2rem auto;
    height: 40px;
    text-align: center;
    justify-content: center;
}


/* thumb gallery */

.thumbGallerry .swiper-slide div.box {
    font-size: 0.94rem;
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: left; */
    line-height: 1rem;
    width: 100%;
    padding-left: 0rem;
    color: black;
    text-decoration-color: none;
    line-height: 2rem;
    padding: 1rem;
}

.thumbGallerry .swiper-slide div.box span {
    font-size: 1.8rem;
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: left; */
    padding-bottom: 1rem;
    font-family: 'Noto Serif KR','serif';
    color: #623342;
    font-weight: 600;
}

.thumbGallerry .thumbSlide {
    width: 80%;
    height: 100%;
    cursor: pointer;
    /* padding: 2rem; */
    border-left: 2px solid #9E2742;
}


.swiper-pagination {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 100;
    align-items: center;
    /* display: none; */
}

/* roundimg 공통 설정 */
.swiper-container.mySwiper.village .swiper-slide div.roundimg {
    width: 250px;
    height: 250px;
    border-radius: 125px;
}



.roundbox {
    overflow: hidden;
    width: 250px;
    height: 250px;
    border-radius: 125px;
    margin: 0;
    padding: 0;
    margin: 0 auto;
}

section .tabV .content .conBox.on {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 100vw;
    /* align-items: center; */
    justify-content: center;
    /* margin: auto; */
    margin: 0 auto;
    align-items: center;
}

div.content div.roundtxt {
    width: 82%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: url(../img/그룹\ 82.png) 50% 50% no-repeat;
    background-size: contain;
    /* padding-left: 5%; */
    margin: 0;
    padding: 0;
    align-items: center;
    margin: 2rem 0;
}

div.content span {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.98rem
}

div .roundtxt h1 {
    font-size: 1.7rem;
    /* padding-bottom: 5%; */
    font-weight: 500;
    font-family: 'Noto Serif KR', serif;
    /* line-height: 4rem; */
}

div .roundtxt p.engname {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: rgba(0, 0, 0, 0.2);
    padding: 1% 0;
    /* position: sticky; */
}

div .roundtxt p.button {
    font-size: 1rem;
    margin-top: 2rem;
}

.swiper-container.mySwiper.village {
    width: 100%;
    /* height: 720px; */
    overflow-x: none;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
    padding: 0;
}

section.section2 .tabV:nth-child(1) .content {
    width: 100%;
    height: FIT-CONTENT;
    color: #333;
}
section.section2 .tabV ul li {
    font-size:1rem;
}

section.section2 .swiper-slide{
    height: auto;
}

section.section2 .swiper-slide .swiper-pagination{
    display: none;
}


div .roundtxt p.button::before {
    width: 100px;
    height: 1px;
    background: #A7A7A7;
    content: "";
    /* top: 1px; */
    /* bottom: 1px; */
    left: 0;
    display: block;
    top: 50%;
    bottom: 500px;
    position: absolute;
}

.thumbGallerry .swiper-slide.bg01 div.poster.one{
    width: 155px;
    height: 210px;
    background: url(../img/header_bg2.png) 50% 50% 
    no-repeat;
    background-size: cover;
     /* margin-right: 3rem; */
}
.thumbGallerry .swiper-slide.bg01 div.poster.two{
    width: 155px;
    height: 210px;
    background: url(../img/이미지\ 31.png) 50% 50% 
    no-repeat;
    background-size: cover;
    margin-top: 0%;
}
.thumbGallerry .swiper-slide.bg01 div.poster.three{
    width: 155px;
    height: 210px;
    background: url(../img/festival.png) 50% 50% 
    no-repeat;
    background-size: cover;
    /* margin-left: 3rem; */
    display: none;
}

.thumbGallerry .swiper-slide.bg02 div.poster.one {
    width: 155px;
    height: 210px;
    background: url(../img/test_img35.jpg) 50% 50% no-repeat;
    background-size: cover;
    margin: 0;
}

.thumbGallerry .swiper-slide.bg02 div.poster.two {
    width: 155px;
    height: 210px;
    background: url(../img/이미지\ 31.png) 50% 50% no-repeat;
    background-size: cover;
    margin-top: 20%;
    /* margin-left: 3rem; */
    margin: 0;
}

.thumbGallerry .swiper-slide.bg02 div.poster.three {
    width: 155px;
    height: 210px;
    background: url(../img/festival.png) 50% 50% no-repeat;
    background-size: cover;
    /* margin-left: 3rem; */
    margin: 0;
    display: none;
}


.thumbGallerry {
    width: 100%;
    height:auto;
    /* margin: 0 auto 200px; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background: #000; */
    margin: 0 auto;
    overflow: hidden;
    flex-direction: column;
}

.thumbGallerry .mainSlide {
    width: 100%;
    height: 70%;
    /* margin: 0; */
    overflow: hidden;
    display: flex;
}
.thumbGallerry .swiper-slide {
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    /* margin-left: 4rem; */
    /* overflow: hidden; */
    width: 100%;
}

.thumbGallerry .swiper-wrapper {
    position: relative;
    width: 100%;
    /* height: 10%; */
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    align-items: center;
    margin: auto;
}

.thumbGallerry .thumbSlide {
    width: 85%;
    /* height: 180px; */
    cursor: pointer;
    /* padding: 2rem; */
    border-left: none;
}



.thumbGallerry .thumbSlide .swiper-slide{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.thumbGallerry .thumbSlide .swiper-slide-thumb-active {
    opacity: 1;
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
    transition: none;
    border-bottom: none;
    border-top: none;
    /* border: 2px solid #9E2742; */
    height: auto;
    /* border-radius: 10px; */
    background: rgba(100,100,100,100.0.8);
    border-top: 1.5px solid #9e2742;
    border-bottom: 1.5px solid #9e2742;
    border-right: none;
}

.swiper-slide.bg01{
    height:auto;
}

.thumbGallerry .thumbSlide {
    width: 85%;
    height: 180px;
    cursor: pointer;
    /* padding: 2rem; */
    border-left: none;
}


section.section3{
    height: 100vh;
}

.thumbGallerry .mainSlide .swiper-slide {
    height: 100%;
    margin: 3rem 0;
}

.swiper-pagination {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 100;
    align-items: center;
    display: none;
}

div.box p a{
    /* color: #1E1E1E; */
    font-size: 0.97rem;
}

section.section2 .tabV ul li {
    margin: 5px;
    border-radius: 2px;
    margin-bottom: 2rem;
}

section.section6 .inner div.topsec {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

section.section6 div.topsec p {
    font-size: 1.1rem;
    font-family: 'Noto sans KR';
    line-height: 3rem;
    border-bottom: 0.5px solid #666;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: auto;
    /* border: 1px solid; */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
section.section6 div.news {
    width:auto;
}

section.section6 .inner {
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
}

section.section6 ul {
    width: 180px;
    height: 40px;
    line-height: 30px;
}


section.section6 div.topsec ul li {
    width: 50%;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Noto Serif KR';
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #333;
}


div.swiper-slide div.round.step {
    width: 350px;
    height: 350px;
    border-radius: 175px;
    border: 1px solid white;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 3%;
    cursor: pointer;
    transition: all 1s;
    color: white;
    margin: 0 auto
}